/* Colors */
:root {
  --PrimaryColor: hsl(209, 99%, 48%);
  --PrimaryLight: hsl(220, 64%, 88%);
  --HoverColor: hsl(211, 83%, 27%);
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(206, 73%, 9%);
  --textColor: hsl(0, 0%, 58%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  /* box-shadow: 0 2px 8px 4px rgba(33, 33, 33, 0.1) */
}

.footer {
  background: var(--greyBg);
  padding: 2rem 0;
  padding-bottom: 0;

  .secContainer {
    gap: 1.5rem;
    text-align: center;
    .logo {
      padding-bottom: 0.5rem;
      .footerLogo {
        width: 200px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        padding-bottom: 0.5rem;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .socials {
    gap: 0.5rem;
    margin: auto;
    justify-content: center;

    .icon {
      font-size: 40px;
      color: var(--PrimaryColor);
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .footerLinks {
    display: grid;
    row-gap: 0.2rem;
    .linkTitle {
      padding-bottom: 0.5rem;
      color: var(--BlackColor);
      font-weight: 700;
    }
    li {
      &:hover {
        transform: scale(1.1);
        a {
          color: var(--PrimaryColor);
        }
      }
    }

    a,
    .phone,
    .email {
      color: var(--textColor);
      font-size: 13px;
      font-weight: 500;
    }
  }
  .copyright {
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    .icon {
      color: var(--PrimaryColor);
      font-size: 15px;
      margin-left: 5px;
      margin-right: 5px;
    }
    a {
      margin-left: 5px;
      margin-right: 5px;
      color: var(--PrimaryColor);
    }
  }
}

// MEDIA QUERIES
@media screen and (min-width: 448px) {
  .footer {
    .secContainer {
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      align-items: flex-start;

      .footerLinks {
        justify-content: center;
      }
    }
  }
}
@media screen and (min-width: 640px) {
  .footer {
    .secContainer {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
@media screen and (min-width: 900px) {
  .footer {
    .secContainer {
      padding: 2rem;
    }
  }
}
