/* Colors */
:root {
  --PrimaryColor: hsl(209, 99%, 48%);
  --PrimaryLight: hsl(220, 64%, 88%);
  --HoverColor: hsl(211, 83%, 27%);
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(206, 73%, 9%);
  --textColor: hsl(0, 0%, 58%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  /* box-shadow: 0 2px 8px 4px rgba(33, 33, 33, 0.1) */
}

.services {
  .secContainer {
    .title {
      color: var(--BlackColor);
      line-height: 1.5rem;
      padding-bottom: 0.5rem;
      text-align: center;
    }

    .mainContent {
      .singleItem {
        text-align: center;
        img {
          background: var(--PrimaryColor);
          width: 250px;
          border-radius: 50%;
          padding: 1rem;
        }

        h3 {
          text-align: center;
          font-weight: 700;
          color: var(--BlackColor);
        }

        p {
          text-align: center;
          padding-right: 50px;
          padding-left: 50px;
          font-size: 13px;
          font-weight: 500;
          padding-bottom: 0.5rem;
          color: var(--textColor);
        }
      }
    }

    .videoCard {
      margin-top: 2rem !important;
      background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.023),
          rgba(0, 0, 0, 0.609)
        ),
        url(../../../Assets/bgvideo.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-clip: content-box;
      .cardContent {
        gap: 2rem;
        padding: 2rem 1rem;

        .cardText {
          h2 {
            color: var(--WhiteColor);
            font-weight: 600;
            padding-bottom: 1rem;
          }

          p {
            color: var(--WhiteColor);
            opacity: 0.7;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
          }
        }
      }

      .cardVideo {
        border: 2px solid var(--WhiteColor);
        height: 200px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

// Media QUERIES ===========>
@media screen and (min-width: 720px) {
  .services {
    .secContainer {
      .videoCard {
        .cardContent {
          gap: 4rem;
          padding: 4rem 3rem;

          .cardText {
            h2 {
              text-align: left;
              font-size: 2rem;
              text-shadow: 1px 2px 3px black;
            }
            p {
              opacity: 0.9;
              font-size: 15px;
              text-shadow: 1px 2px 3px black;
            }
          }
        }
        .cardContent {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .services {
    .secContainer {
      .mainContent {
        padding: 2.5rem 0;
      }
    }
  }
}
